@import "../../css/scss/abstracts/variables.scss";
@import "../../css/scss/abstracts/style-params.scss";

/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

/**
 * 1) Button or link that has functionality to it
 */
.c-btn {
    display: flex;
    background: $color-brand-blue;
    color: $color-neutral-white;
    border: 0;
}

/**
 * Secondary button
 * 1) Different button style 
 */
.c-btn--secondary {
    background: $color-neutral-gray-07;
    color: $color-neutral-gray-93;
    border: 1px solid $color-neutral-gray-07;
}

.c-btn__icon {
    fill: $color-neutral-white;
}

.c-btn__text + .c-btn__icon {
    margin-left: 0.5rem;
}

.c-btn__icon + .c-btn__text {
    margin-left: 0.5rem;
}
