.icon-grid {
	display: flex;
}

.icon-grid svg {
	height: 16px;
	width: 16px;
	margin: 0 auto 1rem auto;
}

.icon-grid__item {
	width: 5.5rem;
	height: 5.5rem;
	background: #f5f5f5;
	border: 1px solid #cccccd;
	padding: 0.5rem;
	margin: 0 1rem 1rem 0;
	text-align: center;
}

.icon-grid__text {
	display: block;
	font-size: 0.85rem;
}
