@import "../../css/scss/abstracts/variables.scss";
@import "../../css/scss/abstracts/style-params.scss";

/*------------------------------------*\
    #FIELDS
\*------------------------------------*/

/**
 * 1) Consists of a label, form control, and an optional note about the field.
 */
.c-field {
    margin-bottom: $spacing-large;
}

/**
 * Field label
 */
.c-field__label {
    margin-bottom: 0.2rem;
    font-size: $font-size-med;
    font-weight: bold;
}

/**
 * Field label
 */
.c-field__required {
    color: $color-utility-error;
    text-decoration: none;
}

/**
 * Field body
 */
.c-field__body {
    position: relative;
    margin-bottom: 0.2rem;
}

/**
 * Field control
 * 1) Includes text input, textarea, and select
 */
.c-field__control {
    .c-field.has-error & {
        border-color: $color-utility-error;
    }
    .c-field.is-disabled & {
        border-color: $color-neutral-gray-27;
        background: $color-neutral-gray-07;
        color: $color-neutral-gray-50;
    }
}

/**
 * Field note
 */
.c-field__note {
    display: inline-block;
    font-size: $font-size-sm;
    color: $color-neutral-gray-50;

    .c-field.has-error & {
        color: $color-utility-error;
    }
}
