.sg-colors {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr) );
}

.sg-colors li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.sg-swatch {
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
    border-radius: 5px;
}
